apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-energie-pv
  namespace: irrigation
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/postgres-energie
