apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: eau-hpa
  namespace: irrigation
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: eau-service
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
