apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-server
  namespace: irrigation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-server
  template:
    metadata:
      labels:
        app: discovery-server
    spec:
      containers:
      - name: discovery-server
        image: systeme-gestion-energie-eau-pour-station-irrigation-discovery-server:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8761
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "docker"
